<form #form="ngForm">
    <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input required
               type="email"
               class="form-control"
               maxlength="128"
               name="emailAddress"
               #emailAddress="ngModel"
               placeholder="Enter email"
               [email]="true"
               [disabled]="busy"
               [ngClass]="{'is-invalid': (!isDefined(vm?.emailAddress) || emailAddress.invalid) }"
               [(ngModel)]="vm.emailAddress">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input required
               minlength="8"
               maxlength="128"
               type="password"
               class="form-control"
               name="password"
               #password="ngModel"
               placeholder="Password"
               [disabled]="busy"
               [ngClass]="{'is-invalid': (!isDefined(vm?.password) || password.invalid) }"
               [(ngModel)]="vm.password">
    </div>
    <input type="hidden"
          >
    <button *ngIf="isRegister"
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid || busy"
            (click)="register()">
        <ng-container *ngIf="busy"><i class="fa fa-spinner fa-spin"></i>&nbsp;Registering...</ng-container>
        <ng-container *ngIf="!busy">Register</ng-container>
    </button>
    <button *ngIf="!isRegister"
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid || busy"
            (click)="login()">
        <ng-container *ngIf="busy"><i class="fa fa-spinner fa-spin"></i>&nbsp;Logging in...</ng-container>
        <ng-container *ngIf="!busy">Log-in</ng-container>
    </button>

    <ng-container *ngIf="errorStatus">
        <p></p>
        <div class="alert alert-danger"
             role="alert">
            {{errorStatus}}
        </div>
    </ng-container>

    <ng-container *ngIf="status">
        <p></p>
        <div class="alert alert-primary"
             role="alert">
            {{status}}
        </div>
    </ng-container>

</form>

