
id:{{postData.postId}}<br/>
text:{{postData.postText}}<br/>
<ng-container *ngIf="likedByMe()">
	    <button class="btn btn-sm btn-info" type="submit" (click)="unlikeClick(postData.postId)">Unlike</button>
	</ng-container>
	
	<ng-container *ngIf="!likedByMe()">
	    <button class="btn btn-sm btn-primary" type="submit" (click)="likeClick(postData.postId)">Like</button>
	</ng-container>
	
	Likes: {{likeCount()}}

<form #form="ngForm">
    <div class="form-group">
        <label for="comment">Post your comment:</label>
        <input required
               type="text"
               class="form-control"
               maxlength="1024"
               name="comment"
               #post="ngModel"
               placeholder="Comment here..."
               [disabled]="busy"
               [(ngModel)]="vm.commentText">
    </div>
    
    <button type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid || busy"
            (click)="commentClick()">Comment
    </button>
</form>

