
<form #form="ngForm">
    <div class="form-group">
        <label for="post">Post your status:</label>
        <input required
               type="text"
               class="form-control"
               maxlength="1024"
               name="post"
               #post="ngModel"
               placeholder="What's on your mind"
               [disabled]="busy"
               [(ngModel)]="vm.postText">
    </div>
    
    <button type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid || busy"
            (click)="postClick()">
            
        <ng-container *ngIf="busy"><i class="fa fa-spinner fa-spin"></i>&nbsp;Registering...</ng-container>
        <ng-container *ngIf="!busy">Post</ng-container>
    </button>
</form>

<input #file type="file"  (change)="upload(file.files)" />
<br />
<span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
  {{progress}}%
</span>

<span style="font-weight:bold;color:green;" *ngIf="message">
  {{message}}
</span>
